@model Haver_Boecker_Niagara.Models.PurchaseOrder

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Purchase Order</h1>
<hr />
<div class="p-4 shadow-sm card-container">
    <form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PurchaseOrderID" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="PurchaseOrderNumber" class="control-label">Purcharse Order Number <span class="required-fields">*</span></label>
                <input asp-for="PurchaseOrderNumber" class="form-control" required />
                <span asp-validation-for="PurchaseOrderNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="PODueDate" class="control-label"></label>
                <input asp-for="PODueDate" class="form-control" />
                <span asp-validation-for="PODueDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="VendorID" class="control-label">Vendor</label>
                <select asp-for="VendorID" class="form-control" asp-items="ViewBag.VendorID"></select>
                <span asp-validation-for="VendorID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="SalesOrderID" class="control-label">Order Number</label>
                <select asp-for="SalesOrderID" class="form-control" asp-items="ViewBag.SalesOrderID"></select>
            </div>
        </div>
    </div>
        <div class="d-flex justify-content-end gap-2 mt-4">
            <button type="button" class="btn btn-secondary" id="btnAutofill">Autofill</button>
            <a asp-action="Index" class="btn btn-primary-close">Close</a>
            <button type="reset" class="btn btn-primary-close">Reset</button>
            <button type="submit" value="Edit" class="btn btn-primary btn-edit" id="btnEdit">Save</button>
        </div>
        </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.getElementById('btnAutofill').addEventListener('click', function() {
            document.getElementById('PurchaseOrderNumber').value = 'PO-54321';
            document.getElementById('PODueDate').value = '2025-05-01T12:00';
            document.getElementById('VendorID').value = '2';
            document.getElementById('SalesOrderID').value = '2'; 
        });
    </script>
}
