@model Haver_Boecker_Niagara.Models.OperationsSchedule

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OperationsSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SalesOrder" class="control-label"></label>
                <input asp-for="SalesOrder" class="form-control" />
                <span asp-validation-for="SalesOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <select asp-for="CustomerID" class ="form-control" asp-items="ViewBag.CustomerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="VendorID" class="control-label"></label>
                <select asp-for="VendorID" class ="form-control" asp-items="ViewBag.VendorID"></select>
            </div>
            <div class="form-group">
                <label asp-for="MachineDescription" class="control-label"></label>
                <input asp-for="MachineDescription" class="form-control" />
                <span asp-validation-for="MachineDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PackageReleaseDate" class="control-label"></label>
                <input asp-for="PackageReleaseDate" class="form-control" />
                <span asp-validation-for="PackageReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseOrderNumber" class="control-label"></label>
                <input asp-for="PurchaseOrderNumber" class="form-control" />
                <span asp-validation-for="PurchaseOrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PODueDate" class="control-label"></label>
                <input asp-for="PODueDate" class="form-control" />
                <span asp-validation-for="PODueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Media" class="control-label"></label>
                <input asp-for="Media" class="form-control" />
                <span asp-validation-for="Media" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SparePartsMedia" class="control-label"></label>
                <input asp-for="SparePartsMedia" class="form-control" />
                <span asp-validation-for="SparePartsMedia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Base" class="control-label"></label>
                <input asp-for="Base" class="form-control" />
                <span asp-validation-for="Base" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirSeal" class="control-label"></label>
                <input asp-for="AirSeal" class="form-control" />
                <span asp-validation-for="AirSeal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoatingOrLining" class="control-label"></label>
                <input asp-for="CoatingOrLining" class="form-control" />
                <span asp-validation-for="CoatingOrLining" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disassembly" class="control-label"></label>
                <input asp-for="Disassembly" class="form-control" />
                <span asp-validation-for="Disassembly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
