@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Haver_Boecker_Niagara</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Haver_Boecker_Niagara.styles.css" asp-append-version="true" />
</head>
<body id="body">
    <main class ="d-flex flex-column align-items-center justify-content-center login-page" style="height:90vh">
    <div class="main-container">
        <h1 class="main-title">Log In</h1>

        <form method="post">
            <div class="user-name-input">
                <h2>Email</h2>
                <input class="usernameinpt" asp-for="Input.Email" aria-required="true" placeholder="example@email.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="password-input">
                <h2>Password</h2>
                <input class="passwordinpt" asp-for="Input.Password" type="password" placeholder="PasswordExample123" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    Stay logged in
                </label>
            </div>

            <div class="login-btn-container">
                <button type="submit" class="btn-login">Log In</button>
            </div>

            <div class="forgot-password">
                <a asp-page="./ForgotPassword">Forgot your password?</a>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
    <!-- Buttons for prototype testing -->
    <div class="test-buttons mt-4">
        <button type="button" class="btn btn-secondary" id="btnAdminFill">Admin</button>
        <button type="button" class="btn btn-secondary" id="btnSalesFill">Sales</button>
        <button type="button" class="btn btn-secondary" id="btnEngineeringFill">Engineering</button>
        <button type="button" class="btn btn-secondary" id="btnProcureFill">Procure</button>
        <button type="button" class="btn btn-secondary" id="btnProductionFill">Production</button>
        <button type="button" class="btn btn-secondary" id="btnPICFill">PIC</button>
        <button type="button" class="btn btn-secondary" id="btnReadOnlyFill">RO</button>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const logoutIcon = document.querySelector('#logoutContainer');
            if (logoutIcon) {
                logoutIcon.classList.add('hide');
            }
            if (window.location.pathname.includes("Login")) {
                let navbar = document.getElementById("navbar");
                if (navbar) {
                    console.log("navbar exist");
                    navbar.style.display = "none";
                }else{
                    console.log(null)
                }
            }else{
                console.log("Not found the location")
            }
        });

        const fillData = {
            'btnAdminFill': 'admin@outlook.com',
            'btnSalesFill': 'sales@outlook.com',
            'btnEngineeringFill': 'engineering@outlook.com',
            'btnProcureFill': 'procurement@outlook.com',
            'btnProductionFill': 'production@outlook.com',
            'btnPICFill': 'pic@outlook.com',
            'btnReadOnlyFill': 'readonly@outlook.com'
        };

        Object.keys(fillData).forEach(id => {
            document.getElementById(id).addEventListener('click', function () {
                document.querySelector('input[name="Input.Email"]').value = fillData[id];
                document.querySelector('input[name="Input.Password"]').value = 'Pa55w@rd';
            });
        });
        
            
     
    </script>
    </main>
</body>
</html>
