@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Haver_Boecker_Niagara</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Haver_Boecker_Niagara.styles.css" asp-append-version="true" />
</head>
<body id="body">
    <div class="main-container">
        <h1 class="main-title">Log In</h1>

        <form method="post">
            <div class="user-name-input">
                <h2>Username</h2>
                <input class="usernameinpt" asp-for="Input.Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="password-input">
                <h2>Password</h2>
                <input class="passwordinpt" asp-for="Input.Password" type="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="login-btn-container">
                <button type="submit" class="btn-login">Log In</button>
            </div>

            <div class="forgot-password">
                <a asp-page="./ForgotPassword">Forgot your password?</a>
                <a asp-page="./CreateNewAccount">Create new account?</a>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const logoutIcon = document.querySelector('#logoutContainer');
            if (logoutIcon) {
                console.log('Icon exist');
                logoutIcon.classList.add('hide');
            } else {
                console.log(null)
            }
        });
    </script>
</body>
</html>