<!-- Modal-->
@model Haver_Boecker_Niagara.Models.PurchaseOrder

<div class="modal fade" id="purchaseOrderModalEdit" tabindex="-1" role="dialog" aria-labelledby="purchaseOrderModalEditLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="purchaseOrderModalEditLabel">Edit Purchase Order</h4>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close" />
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <form>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="SalesOrderID" />
                            <input type="hidden" asp-for="PurchaseOrderID" />

                            <div class="form-group">
                                <label asp-for="PurchaseOrderNumber" class="control-label">Purchase Order Number <span class="required-fields">*</span></label>
                                <input asp-for="PurchaseOrderNumber" class="form-control" />
                                <span asp-validation-for="PurchaseOrderNumber" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PODueDate" class="control-label"></label>
                                <input asp-for="PODueDate" class="form-control" type="date" />
                                <span asp-validation-for="PODueDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="POActualDueDate" class="control-label"></label>
                                <input asp-for="POActualDueDate" class="form-control" type="date" />
                                <span asp-validation-for="POActualDueDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Vendor.Name" class="control-label"></label>
                                <select asp-for="VendorID" class="form-control" asp-items="ViewBag.VendorID"></select>
                                <span asp-validation-for="Vendor.Name" class="text-danger"></span>
                            </div>
                            <div class="mt-2 form-group">
                                <button asp-action="EditPurchaseOrder" class="btn btn-primary" id="btnEditPurchaseOrder">Save</button>
                                <button type="reset" class="btn btn-danger">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
