@model Haver_Boecker_Niagara.Models.SalesOrder

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sales Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SalesOrderID" />

            <div class="form-group">
                <label asp-for="OrderNumber" class="control-label"></label>
                <input asp-for="OrderNumber" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(Status))">
                    
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerID" class="control-label">Customer Name</label>
                <select asp-for="CustomerID" class="form-control" asp-items="ViewBag.CustomerID"></select>
            </div>

            <div class="form-group">
                <label asp-for="CompletionDate" class="control-label"></label>
                <input asp-for="CompletionDate" type="date" class="form-control" />
                <span asp-validation-for="CompletionDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ActualCompletionDate" class="control-label"></label>
                <input asp-for="ActualCompletionDate" type="date" class="form-control" />
                <span asp-validation-for="ActualCompletionDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ExtraNotes" class="control-label"></label>
                <input asp-for="ExtraNotes" class="form-control" />
                <span asp-validation-for="ExtraNotes" class="text-danger"></span>
            </div>

            <div class="form-group mt-1">
                <label asp-for="EngineeringPackageID" class="control-label">Engineering Package ID:</label><strong>  @Model.EngineeringPackageID</strong>
            </div>
            <div class="form-group col-md-12 mt-2">
                <div class="d-flex justify-content-between">
                    <label class="control-label">Related Purchase Orders</label>
                    <div class="d-flex justify-content-end">
                        <button type="button" id="btnDelete" class="btn btn-danger btn-sm">
                            <strong>Delete</strong>
                        </button>
                        <button type="button" title="Click to create a new Purchase Order." data-bs-toggle="modal" data-bs-target="#purchaseOrderModal" class="btn btn-primary btn-sm">
                            <strong>Create</strong>
                        </button>
                    </div>
                </div>
                <div class="form-group col-md-12">
                        
                    @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control" })
                </div>
            </div>

            <div class="mt-2 form-group">
                <input type="submit" value="Save" class="btn btn-primary" id="btnSubmit" />
            </div>

        </form>

        <partial name="_purchaseOrderModal" model=@(new PurchaseOrder { SalesOrderID = Model.SalesOrderID })/>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/managePurchaseOrder.js"></script>
}
