
body {
    font-family: Arial, sans-serif;
    background-color: #FFFF;
    justify-content: center;
    align-items: center;
    margin: 0;
}
h2{
    font-size: large;
}
input {
    border-radius: 0.313rem;
    background-color: #D6D6D680;
    width: 100%;
    padding: 0.313rem;
    border-color: white;
}

main {
    text-align: center;
    display: grid;
    place-items: center;
}

.main-container {
    background: #F0F0F0;
    padding: 1.25rem;
    border-radius: 1rem;
    border-right: groove;
    border-bottom: groove;
    width: 31%;
}

.main-title {
    text-align: center;
    color: #002F5FCC;
    font-size: xx-large;
    margin-bottom: 1.25rem;
    font-size: xx-large;
    font-weight: bold;
}

.user-name-input, .login-btn-container, .password-input {
    align-content: center;
    margin-bottom: 0.938rem;
    padding: 0.625rem;
    text-align: start;
}

.btn-login {
    width: 50%;
    padding: 0.625rem;
    background-color: #002F5F;
    color: #FFFFFF;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: default;
}

    .btn-login:hover {
        background-color: #003d82;
    }

.login-btn-container {
    text-align: center;
}