@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 0.875rem;
    min-height: 100%;
}

.navbar .container-fluid {
    background-color: #002f5f;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.login-button {
    font-size: 0.875rem;
    background-color: white;
    color: #002f5f;
    border-radius: 1.25rem;
    padding: 0.188rem 1.875rem;
    border: none;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-right: 4.375rem;
}

    .login-button:hover {
        background-color: #f0f0f0;
        color: #001a33;
    }

.navbar {
    padding: 0 !important;
}

.navbar-brand {
    padding: 0.625rem 4.375rem;
    text-align: left;
    justify-content: space-between;
    display: flex;
}



.nav-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid white; 
    padding-top: 0.625rem;
}

.navbar-collapse {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}



.nav-item {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    padding-left: 0;
    width: 90%;
    font-family: 'Open Sans', sans-serif;
}

.nav-link:hover {
    color: white;
    transform: translateY(-5px);
}

/*/////////////////////////
    Toast Notifications yey
    /////////////////////
*/
:root {
    --blue: #002F5F;
    --grey: #D6D6D6;
    --red: #FF0000;
    --green: #4CAF50;
    --yellow: #B6900C;
    --lightBlue: #39AFE2;
    --white: white;
    --dark: #080808;
}

.notifications {
    position: fixed;
    margin-top: 30px;
    right:20px;
    background: var(--white);

}

.notifications :where(.toast, .column) {
    display: flex;
    align-items: center;
}

.notifications .toast {
    width: 400px;
    position:relative;
    overflow:hidden;
    list-style: none;
    border-radius: 4px;
    padding: 16px 17px;
    margin-bottom: 10px;
    background: var(--white);
    justify-content:space-between;
    animation: show_toast 0.3s ease forwards;

}
@keyframes show_toast {
    0%{
        transform: translateX(100%);    
    }
    40% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

.toast::before{
    position:absolute;
    content:"";
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: progress 5s linear forwards;
}
@keyframes progress{
    100% {
        width: 0%;
    }
}
.toast.success::before {
    background: var(--green);
}
.toast.error::before {
    background: var(--red);
}
.toast.warning::before {
    background: var(--yellow);
}
.toast.info::before {
    background: var(--lightBlue);
}
.toast .column i {
    font-size: 1.75rem;
}


.toast.success .column i {
    color: var(--green);
}

.toast.error .column i {
    color: var(--red);
}

.toast.warning .column i {
    color: var(--yellow);
}

.toast.info .column i {
    color: var(--lightBlue);
}

.toast .column i {
    font-size: 1.75rem;
}



.toast .column span{
    font-size: 1.07rem;
    margin-left: 12px;

}

.toast i:last-child {
    color: var(--grey);
    cursor: pointer;

}
.toast i:last-child:hover{
    color: var(--dark);

}

.toast:not(.show) {
    display: none;
}







@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }

    .navbar-nav {
        justify-content: center;
    }
}

body {
    margin-bottom: 3.75rem;
}
