/*
    color

    background-color: #F0F0F0
    navycolor: #002F5F
    font-color: #5F696D
    search-btn: #39AFE2
    create-btn: #4CAF50
    table-background color: #002F5F, 5% rgba(0, 47, 95, 0.05)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    min-height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    z-index: 1000;
}


.navbar .container-fluid {
    background-color: #002f5f;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* login btn style */
.login-button {
    font-size: 14px;
    background-color: white;
    color: #002f5f;
    border-radius: 20px;
    padding: 3px 30px;
    border: none;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-right: 70px;
}

    .login-button:hover {
        background-color: #f0f0f0;
        color: #001a33;
    }

.navbar {
    padding: 0 !important;
}

.navbar-brand {
    padding: 10px 70px;
    text-align: left;
    justify-content: space-between;
    display: flex;
}


/* menu styling */
.nav-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid white; /* line between logo and menu */
    padding-top: 10px;
}

.navbar-collapse {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}



.nav-item {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

    .nav-link:hover {
        color: white;
        transform: translateY(-5px);
    }

/* expand search /filtering container styling  */
.card.card-body {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.form-group label {
    font-size: 12px;
    font-weight: bold;
}

.form-group .form-control {
    border-radius: 8px;
    border: 2px solid #C0C0C0;
    background-color: #F0F0F0;
    color: #333;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

    .form-group .form-control:focus {
        border-color: #002F5F;
        background-color: #ffffff;
    }

input[name="actionButton"][value="Filter"] {
    background-color: #002F5F;
    color: white;
    border: 2px solid #002F5F;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

    input[name="actionButton"][value="Filter"]:hover {
        background-color: #001F40;
        box-shadow: 0 3px 6px rgba(0, 47, 95, 0.5);
    }

a.btn-clear {
    color: #002F5F;
    border: 2px solid #002F5F;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 12px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

    a.btn-clear:hover {
        background-color: rgba(0, 47, 95, 0.1);
        color: #002F5F;
        box-shadow: 0 3px 6px rgba(0, 47, 95, 0.5);
    }


/*Create form */
h4 {
    font-weight: 400;
    color: #5F696D;
    margin-left: 270px;
    margin-top: 20px;
}

.customer-form-container {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.form-group label {
    font-weight: 400;
    color: #717171;
    font-size: 16px;
}

.form-group .form-control {
    border-radius: 5px;
    border: 1px solid #C0C0C0;
    line-height: 1.2;
    background-color: #FFFFFF;
    width: 100%; 
    padding: 10px; 
    font-size: 1rem;
    box-sizing: border-box; 
}

.form-group-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap; 
}

.form-group {
    flex: 1; 
    min-width: calc(50% - 10px); 
}

.form-btn-group {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}

.btn-primary-create {
    background-color: #002F5F;
    color: white;
    font-size: 10px;
    padding: 5px 13px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-primary-close {
    background-color: #FF0000;
    color: white;
    font-size: 10px;
    padding: 5px 13px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}
/* table styling */
body {
    background-color: #F0F0F0;
}

.main-container {
    background-color: rgba(0, 47, 95, 0.05);
    padding: 20px;
    border-radius: 10px;
    margin-top: 5%;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

h1 {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 5%;
}


/* search, create btn */

.search-btn {
    background-color: #39AFE2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 10%;
    text-align: center;
    padding: 8px 0px;
}

    .search-btn:hover {
        background-color: #2a91c2;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    }

.create-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 12.5%;
    text-align: center;
    padding: 8px;
}

    .create-btn:hover {
        background-color: #388E3C;
        color: white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    }

.download-btn {
    background-color: #217346;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 50%;
    text-align: center;
    padding: 8px 0px;
    display: inline-block;
    text-decoration: none;
}

    .download-btn:hover {
        background-color: #1e6a3c; 
        color: white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    }
.btn-group {
    display: flex; 
    align-items: center; 
    width:35%;
    gap: 10px; 
}
    .btn-group .btn.create-btn {
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 15px;
        font-weight: normal;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        width: 12.5%;
        text-align: center;
        padding: 8px;
    }

/* table styling */
.btn.btn-toolbar{
    padding:0%;
    padding-bottom:5px;
}

.th{
    padding:0;
}
.table-container {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

.table {
    width: 100%;
    max-width: 100%;

    border-collapse: separate;
    border-spacing: 0 20px;
}



/*engineers-table*/
.engineers-table {
    table-layout: fixed;
}
    .engineers-table th:first-child,
    .engineers-table td:first-child, .engineers-table th:nth-child(2),
    .engineers-table td:nth-child(2) {
        text-align: left; 
    }



    .engineers-table th:last-child,
    .engineers-table td:last-child {
        text-align: right; 
    }
/* table header styling */
.table thead th {
    background-color: #F0F0F0;
    padding: 7px 8px;
    border-top: 2px solid #C0C0C0;
    border-bottom: 2px solid #C0C0C0 !important;
    padding-left: 8px;
}

        .table thead th button {
            font-weight: bold;
            font-size: 16px;
            color: #5F696D;
            text-align: left;
        }


    .table thead tr th:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-left: 2px solid #C0C0C0;
    }

    .table thead tr th:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-right: 2px solid #C0C0C0;
    }

    /* table body styling */
    .table tbody tr {
        background-color: #F0F0F0;
        border: 2px solid #C0C0C0;
        border-radius: 10px;
    }

        .table tbody tr td {
            border-top: 2px solid #C0C0C0;
            border-bottom: 2px solid #C0C0C0;
            font-size: 12px;
            color: #5F696D;
            text-align: left;
            padding-left: 10px;
        }

            .table tbody tr td:first-child {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                border-left: 2px solid #C0C0C0;
                padding-right: 0px;
            }

            .table tbody tr td:last-child {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                border-right: 2px solid #C0C0C0;
                padding-left: 5px;
                width: 12%;
                white-space: nowrap;
            }

    .table tbody td:nth-last-child(2) {
        padding-right: 0;
        width: 8%;
    }


    .table td {
        background-color: #F0F0F0;
        padding: 10px 15px;
    }

    .table tbody tr td {
        font-size: 16px;
    }
/* edit details delete btn */
.ed-det-del-btn {
    display: inline-block;
    background-color: rgba(0, 47, 95, 0.5);
    color: white;
    text-decoration: none;
    padding: 3px 8px;
    border-radius: 5px;
    text-align: center;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .ed-det-del-btn:hover {
        color: white;
        background-color: rgba(0, 47, 95, 0.9);
    }

/* Page btn */
.pagination {
    display: flex;
    margin-right: 50px !important;
}

.page-link {
    background-color: transparent !important;
    border: none !important;
    color: black !important;
    font-weight: bold;
}
.page-arrow {
    background-color: #002F5F;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

    .page-arrow:hover {
        background-color: #1E6A3C;
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

/* detail page */
.detailed-container {
    margin-top: 60px;
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    padding: 30px;
    box-sizing: border-box; 
}

.container-detailed-3 {
    display: flex; 
    gap: 20px;
    justify-content: space-between; 
    align-items: flex-start; 
}

    .container-detailed-3 div {
        flex: 1; 
        padding: 10px; 
        background-color: #f9f9f9; 
        border: 1px solid #ccc;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        margin: 5px;
    }

/*/////////////////////////
    Toast Notifications yey
    /////////////////////
*/
:root {
    --blue: #002F5F;
    --grey: #D6D6D6;
    --red: #FF0000;
    --green: #4CAF50;
    --yellow: #B6900C;
    --lightBlue: #39AFE2;
    --white: white;
    --dark: #080808;
}

.notifications {
    position: fixed;
    margin-top: 30px;
    right: 20px;
}

    .notifications :where(.toast, .column) {
        display: flex;
        align-items: center;
    }

    .notifications .toast {
        width: 400px;
        position: relative;
        overflow: hidden;
        list-style: none;
        border-radius: 4px;
        padding: 16px 17px;
        margin-bottom: 10px;
        background: var(--white);
        justify-content: space-between;
        animation: show_toast 0.3s ease forwards;
    }

@keyframes show_toast {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-5%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
}

.toast::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        width: 0%;
    }
}

.toast.success::before {
    background: var(--green);
}

.toast.error::before {
    background: var(--red);
}

.toast.warning::before {
    background: var(--yellow);
}

.toast.info::before {
    background: var(--lightBlue);
}

.toast .column i {
    font-size: 1.75rem;
}


.toast.success .column i {
    color: var(--green);
}

.toast.error .column i {
    color: var(--red);
}

.toast.warning .column i {
    color: var(--yellow);
}

.toast.info .column i {
    color: var(--lightBlue);
}

.toast .column i {
    font-size: 1.75rem;
}



.toast .column span {
    font-size: 1.07rem;
    margin-left: 12px;
}

.toast i:last-child {
    color: var(--grey);
    cursor: pointer;
}

    .toast i:last-child:hover {
        color: var(--dark);
    }

.toast:not(.show) {
    display: none;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .navbar-nav {
        justify-content: center;
    }
}

body {
    margin-bottom: 60px;
}
