/*
    color

    background-color: #F0F0F0
    navycolor: #002F5F
    font-color: #5F696D
    search-btn: #39AFE2
    create-btn: #4CAF50
    table-background color: #002F5F, 5% rgba(0, 47, 95, 0.05)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 0.875rem;
    min-height: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

footer {
    height: 4rem;
    width: 100%;
    text-align: center;
}

.btn-edit-container{
    margin-left:10px;
}


.navbar .container-fluid {
    background-color: #002f5f;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
}

/* login btn style */
.login-button {
    font-size: 14px;
    background-color: white;
    color: #002f5f;
    border-radius: 20px;
    padding: 3px 30px;
    border: none;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-right: 70px;
}

.login-button:hover {
    background-color: #f0f0f0;
    color: #001a33;
}

.navbar {
    padding: 0 !important;
}

.navbar-brand {
    padding: 10px 70px;
    text-align: left;
    justify-content: space-between;
    display: flex;
}
/*For the index in sales order little debug */
.ed-det-del-btn {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
td {
    height: 3.125rem;
    vertical-align: middle !important;
}

.btn-success {
    color: #fff;
    background-color: #198754;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: auto;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 4px;
}
/* menu styling */
.nav-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid white; /* line between logo and menu */
    padding-top: 10px;
}

.navbar-collapse {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}



.nav-item {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    padding-left: 0;
    width: 90%;
    font-family: 'Open Sans', sans-serif;
}

.nav-link:hover {
    color: white;
    transform: translateY(-5px);
}

/* expand search /filtering container styling  */
.card.card-body {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.form-group label {
    font-size: 12px;
    font-weight: bold;
}

.form-group .form-control {
    border-radius: 8px;
    border: 2px solid #C0C0C0;
    background-color: #F0F0F0;
    color: #333;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.form-group .form-control:focus {
    border-color: #002F5F;
    background-color: #ffffff;
}

input[name="actionButton"][value="Filter"] {
    background-color: #002F5F;
    color: white;
    border: 2px solid #002F5F;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: smaller;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

input[name="actionButton"][value="Filter"]:hover {
    background-color: #001F40;
    box-shadow: 0 3px 6px rgba(0, 47, 95, 0.5);
}

a.btn-clear {
    color: #002F5F;
    border: 2px solid #002F5F;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: smaller;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    margin-top: 10px;
}

a.btn-clear:hover {
    background-color: rgba(0, 47, 95, 0.1);
    color: #002F5F;
    box-shadow: 0 3px 6px rgba(0, 47, 95, 0.5);
}


/*Create form */
h4 {
    font-weight: 400;
    color: #5F696D;
    margin-top: 1.25rem;
    margin-bottom: 1rem
}

.customer-form-container {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.card-container{
    background-color:var(--white);
}

.form-group label {
    font-weight: 400;
    color: #717171;
    font-size: 16px;
}

.form-group .form-control {
    border-radius: 5px;
    border: 1px solid #C0C0C0;
    line-height: 1.2;
    background-color: #FFFFFF; 
    padding: 0.5em; 
    font-size: 1rem;
    box-sizing: border-box; 
}

.form-group-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap; 
}


.form-btn-group {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}

.btn-primary-create {
    background-color: #002F5F;
    color: white;
    font-size: 10px;
    padding: 5px 13px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-primary-close, .btn-edit {
    background-color: #FF0000;
    color: white;
    font-size: 15px;
    font-weight: normal;
    padding: 8px 13px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    display: inline-flex;
    justify-content:center;
    padding: 8px 20px;
    min-width: 50px;
}

.btn-edit {
    background-color: #002F5F;
}
/*This one is for the edit buttons in the edit pages*/
.btn-edit-specific {
    background-color: #002F5F;
    color: white;
    border: none;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: fit-content;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 4px;
}
.btn-primary-close:hover {
    background-color: #CC0000;
    color: white;
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.btn-edit:hover {
    background-color: #004080; 
    transform: scale(1.1);
    color:white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
/* table styling */
body {
    background-color: #F0F0F0;
}

.main-container {
    background-color: rgba(0, 47, 95, 0.05);
    padding: 20px;
    border-radius: 10px;
    margin-top: 5%;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

h1 {
    font-size: 35px;
    margin-top: 1.5rem;
}


/* search, create btn */

.search-btn {
    background-color: #39AFE2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: auto;
    text-align: center;
    padding-left: 28px;
    padding-right: 28px;
}

    .search-btn:hover {
        background-color: #2a91c2;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    }

.create-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: fit-content;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 4px;
}

.create-btn:hover {
    background-color: #388E3C;
    color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.download-btn {
    background-color: #217346;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 50%;
    text-align: center;
    padding: 8px 0px;
    display: inline-block;
    text-decoration: none;
}

    .download-btn:hover {
        background-color: #1e6a3c; 
        color: white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    }
.btn-group {
    display: flex; 
    align-items: center; 
    width:35%;
    gap: 10px; 
}
    .btn-group .btn.create-btn {
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 15px;
        font-weight: normal;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        width: 12.5%;
        text-align: center;
        padding: 8px;
    }

/* table styling */
.btn.btn-toolbar{
    padding:0%;
    padding-bottom:5px;
    font-size: medium;
    width: max-content;
}

.th{
    padding:0;
}
.table-container {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

.table {
    width: 100%;
    max-width: 100%;

    border-collapse: separate;
    border-spacing: 0 20px;
}



/*engineers-table*/
.engineers-table {
table-layout: fixed;
}
.engineers-table th:first-child,
.engineers-table td:first-child, .engineers-table th:nth-child(2),
.engineers-table td:nth-child(2) {
    text-align: left; 
}



.engineers-table th:last-child,
.engineers-table td:last-child {
    text-align: right; 
}
/* table header styling */
.table thead th {
    background-color: #F0F0F0;
    padding: 7px 8px;
    border-top: 2px solid #C0C0C0;
    border-bottom: 2px solid #C0C0C0 !important;
    padding-left: 8px;
}

.table thead th button {
    font-weight: bold;
    font-size: 16px;
    color: #5F696D;
    text-align: left;
}


.table thead tr th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid #C0C0C0;
}

.table thead tr th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 2px solid #C0C0C0;
}

    /* table body styling */
.table tbody tr {
    background-color: #F0F0F0;
    border: 2px solid #C0C0C0;
    border-radius: 10px;
}

.table tbody tr td {
    border-top: 2px solid #C0C0C0;
    border-bottom: 2px solid #C0C0C0;
    font-size: 12px;
    color: #5F696D;
    text-align: left;
    padding-left: 10px;
}

.table tbody tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid #C0C0C0;
    padding-right: 0px;
}

.table tbody tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 2px solid #C0C0C0;
    padding-left: 5px;
    width: 12%;
    white-space: nowrap;
}

.table tbody td:nth-last-child(2) {
    padding-right: 0;
    width: 8%;
}


.table td {
    background-color: #F0F0F0;
    padding: 10px 15px;
}

.table tbody tr td {
    font-size: 16px;
}
/* edit details delete btn */
.ed-det-del-btn {
    display: inline-block;
    background-color: rgba(0, 47, 95, 0.5);
    color: white;
    text-decoration: none;
    padding: 3px 8px;
    border-radius: 5px;
    text-align: center;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ed-det-del-btn:hover {
    color: white;
    background-color: rgba(0, 47, 95, 0.9);
}
.column dt {
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc; 
    display: inline-block; 
    width: 100%;
}
/* Page btn */
.pagination {
    display: flex;
    margin-right: 50px !important;
}

.page-link {
    background-color: transparent !important;
    border: none !important;
    color: black !important;
    font-weight: bold;
}
.page-arrow {
    background-color: #002F5F;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

    .page-arrow:hover {
        background-color: #1E6A3C;
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

/* detail page */
.detailed-container {
    margin-top: 60px;
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    padding: 30px;
    box-sizing: border-box; 
}

.container-detailed-3 {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    align-items: stretch;
}

    .container-detailed-3 div {
        flex: 1; 
        padding: 20px; 
        background-color: #f9f9f9; 
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        margin: 5px;
    }


/*/////////////////////////
    Toast Notifications yey
    /////////////////////
*/
:root {
    --blue: #002F5F;
    --grey: #D6D6D6;
    --red: #FF0000;
    --green: #4CAF50;
    --yellow: #B6900C;
    --lightBlue: #39AFE2;
    --white: white;
    --dark: #080808;
}

.notifications {
    position: fixed;
    margin-top: 1.875rem;
    right: 1.25rem;
}

    .notifications :where(.toast, .column) {
        display: flex;
        align-items: center;
    }

    .notifications .toast {
        width: 25rem;
        position: relative;
        overflow: hidden;
        list-style: none;
        border-radius: 4px;
        padding: 1rem 1.063rem;
        margin-bottom: 0.625rem;
        background: var(--white);
        justify-content: space-between;
        animation: show_toast 0.3s ease forwards;
        top: 6rem;
    }

@keyframes show_toast {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-5%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
}

.toast::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        width: 0%;
    }
}

.toast.success::before {
    background: var(--green);
}

.toast.error::before {
    background: var(--red);
}

.toast.warning::before {
    background: var(--yellow);
}

.toast.info::before {
    background: var(--lightBlue);
}

.toast .column i {
    font-size: 1.75rem;
}


.toast.success .column i {
    color: var(--green);
}

.toast.error .column i {
    color: var(--red);
}

.toast.warning .column i {
    color: var(--yellow);
}

.toast.info .column i {
    color: var(--lightBlue);
}

.toast .column i {
    font-size: 1.75rem;
}



.toast .column span {
    font-size: 1.07rem;
    margin-left: 0.75rem;
}

.toast i:last-child {
    color: var(--grey);
    cursor: pointer;
}

.toast i:last-child:hover {
    color: var(--dark);
}

.toast:not(.show) {
    display: none;
}

/*Log out pop up*/
.popup-conteiner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    height: 100%;
    background-color: rgba(0, 47, 95, 0.35);
    justify-content: center;
    align-items: center;
    z-index: 1001;
}
.popup-content {
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 0.625rem;
    text-align: center;
    padding: 1.875rem;
}

.popup-btns button {
    
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#btnLogOut {
    background-color: #002F5F;
    color: var(--white);
    border: 2px solid;
}

#infoIcon {
    color: var(--blue);
    font-size: x-large
}

.popup-btns .btn-cancel{
    background-color: #39AFE2;
    color: white;
    border: 2px solid;
    padding-left: 1.688rem;
    padding-right: 1.688rem;
}

/*Pop up close form*/

.popup-close-conteiner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    height: 100%;
    background-color: rgba(0, 47, 95, 0.35);
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

#btnContinue{
    color: var(--white);
    background-color: var(--blue);
    border: 2px solid;
}
#warningIcon {
    color: var(--blue);
    font-size: x-large;
}

#btnCreate{
    background-color: var(--blue)
}
/*Create pages*/
.create-container {
    margin-top: 4rem !important
}
.required-fields{
    color: var(--red) !important;
}
.control-label{
    margin-bottom: 5px;
    margin-top: 5px;
}

/*landing page*/
.landing-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.landing-logo img {
    max-width: 15%;
    height: auto;
}
.card {
    border-radius: 10px;
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.05);
}


#salesOrdersChart {
    max-width: 12.5rem !important;
}

.landing-btns {
    display: flex;
    justify-content: center;
}
.landing-btns a {
    background-color: var(--blue);
}
#customersChart{
    padding-left:0;
    margin-right:10px
}
.chart-container {
    display:flex;
    justify-content:center;
    height:150px;
}
/*Time Line*/
.timeline {
    position: relative;
    padding-left: 40px;
    border-left: 4px solid #007bff;
    margin-top: 20px;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
}

.timeline-dot.status-open {
    background-color: var(--green); 
}

.timeline-dot.status-closed {
    background-color: var(--blue); 
}

.timeline-dot, .milestone-dot {
    position: absolute;
    left: -10px;
    top: 5px;
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    border: 3px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: var(--green);
}

.timeline-content {
    background: #f8f9fa;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*Progress line*/
/*.progress-line {
    height: 6px;
    background-color: #ccc;
    position: relative;
    margin-top: 15px;
}

.milestone-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50%);
    background-color: gray;
    border: 2px solid white;
}

.completed {
    background-color: green;
}

.pending {
    background-color: lightgray;
}*/
@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }

    .navbar-nav {
        justify-content: center;
    }
}

body {
    margin-bottom: 3.75rem;
}
